*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #590D22;
    
}
header{
    margin-top: 10px;
    background-color: #A4133C;
    box-shadow: 0px 0px 50px #800F2F;
    width: 80vw;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}
header div:nth-child(1){
    /* background-color: blue; */
    width: 25%;
    justify-content: flex-start;
    padding-left: 15px;
    img{
        height: 60px;
    }
}
header div:nth-child(2){
    /* background-color: green; */
    width: 50%;
    flex-direction: column;
}
header div:nth-child(3){
    /* background-color: purple; */
    justify-content: flex-end;
    padding-right: 15px;
    width: 25%;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 7px;
        border-radius: 10px;
        border: none;
        img{
            height: 20px;
        }
    }
    
}
main{
    width: 80vw;
    /* background-color: purple; */
    display: flex;
    gap: 2%;
    
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }
}
.formulaire{
    /* background-color: red; */
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 150px;
        margin: 20px 0;
    }
}
.message{
    /* background-color: green; */
    width: 65%;
    background-color: black;
}
.train{
    width: 90%;
    background-color: #A4133C;
    box-shadow: 0px 0px 25px #921136;
    padding: 10px;
    border-radius: 10px;
}

/* .global{
    background-color: #2665ee;
    border-radius: 10px;

    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
} */
.champ{
    width: 100%;
    /* background-color: #2665ee; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    /* background-color: red; */
    gap: 7px;
    label{
        width: 25%;
        text-align: end;
        font-weight: bold;
    }
    input{
        width: 75%;
        border-radius: 10px;
        border: none;
        padding: 10px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, );
    }
}
.champ2{
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 20px;
    flex-direction: row;
    label{
        width: 25%;
    }
    input{
        width: 75%;
    }

}
h2{
    border-bottom: 2px solid white;
    width: 90%;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
}
.radio{
    input{
        width: 10%;
    }
    label{
        width: 90%;
    }
}
ul{
    padding: 15px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li{
    border-radius: 10px;
    width: 100%;
    border: 1px solid white;
    padding: 15px;
    background-color: #2665ee;

}
#btn-formulaire{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}
.info{
    justify-content: flex-end;
}








@media screen and (width<=480px){
    body{
        /* background-color: yellowgreen; */
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    header{
        flex-direction: column;

    }
    header div{
        width: 100%;
        /* background-color: red; */
        
        display: flex;
    }
    
    .formulaire{
        margin-bottom: 20px;
    }
    .global, .formulaire, .message{
        width: 100%;
    }
    button p{
    display: none;
    }
    header div{
        width: 100%;
    }
    header div:nth-child(2){
    /* background-color: green; */
    width: 100%;
    }
    header div:nth-child(1){
    /* background-color: green; */
    justify-content: center;
    width: 100%;
    }
    header div:nth-child(3){
    /* background-color: green; */
    width: 100%;
    justify-content: center;

    }




}

@media screen and (width>=480px) and (width<=980px){
    body{
        /* background-color: brown; */
        justify-content: center;
        align-items: center;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .global, .formulaire, .message{
        width: 100%;
    }
    ul{
        width: 100%;
    }
    .formulaire{
        margin-bottom: 20px;
    }
    button p{
    display: none;
    }
    header div{
        width: 100%;
    }

}